%h2= t(".your_schedule")

.schedule.row
  - (1..5).each do |day_num|
    .schedule-day.col-md-2.no-padding
      %h4= day_name(day_num)

      .schedule-terms
        = render partial: "term", collection: @schedule[day_num]
