%h2= t(".your_schedule")

.row
  - (1..5).each do |day_num|
    .col-md-2
      = day_name(day_num)
      %ul
        - @schedule[day_num].each do |term|
          %li
            = link_to term do
              %p{ style: "background: ##{term.subject.color};" }= term.subject.name

