.jumbotron.homepage
  .container
    %h1 Swap terms like a boss

    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    %p
      %a.btn.btn-lg.pull-right Learn more
      .clearfix

.container
  %h2.markout Easy steps to improve your schedule

  %ul.row.exchange-steps
    %li.col-md-3.col-xs-12
      %span.fa.fa-search
      %h3 Find and declare terms

    %li.col-md-3.col-xs-12
      %span.fa.fa-comments-o
      %h3 Communicate with other people

    %li.col-md-3.col-xs-12
      %span.fa.fa-share-alt
      %h3 Co-create the exchange network

    %li.col-md-3.col-xs-12
      %span.fa.fa-exchange
      %h3 Our system will take care of exchange

  %hr

  %h2.markout Lorem ipsum dolor sit amet

  %p Nulla rutrum imperdiet nulla at imperdiet. Quisque bibendum sollicitudin lorem, ac rutrum neque laoreet eu. Curabitur ante urna, euismod sed velit facilisis, vestibulum semper ligula. Fusce varius nisi vel mi dignissim blandit. Nullam ornare diam massa, at ullamcorper velit dictum vitae. Quisque euismod mauris eu laoreet laoreet. Suspendisse varius mauris non rutrum pretium. Donec posuere urna vel ante congue porttitor. Praesent ultricies diam sed diam lobortis fermentum.

  %p Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec diam ex, fermentum sit amet metus varius, laoreet egestas nibh. Sed sed aliquet augue. Nunc vel ultricies lorem. Integer sagittis nunc in tellus eleifend porttitor. Pellentesque ut luctus velit. Donec ac felis in mauris rutrum elementum. Donec tincidunt nec mi non sodales. Donec lobortis nibh ut lorem eleifend vehicula. Donec sit amet porta augue, a convallis nisi.
